# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl
*.log

# Virtual environments
asr/
.env/
.env.bak/

# Jupyter
.ipynb_checkpoints/

# Data and artifacts
data/
datasets/
outputs/
wandb/
*.ckpt
*.pt
*.pth
*.bin
*.wav
*.mp3

# OS files
.DS_Store
Thumbs.db
